body{
    margin: 0%;
    padding: 0%;
}

.h2-header{
    color: blueviolet;
    position: relative;
    text-align: center;
}

.card-text-title{
    color: aqua;
}

.card-txt-dex{
    position: relative;
  
}

.card-text-title{
    position: relative;
    left: 30px;
    color: rgb(102, 99, 241);
}

.title-a{
    color: rgb(32, 245, 245);
    font-size: 19px;
}

.profile-with-cover{
    height: 300px;
}